.loginn{
    margin-left: 280px;
    font-size: 15px;
    color: white;
}
.link{
    font-size: 15px;
    
}

.search{
    width: 50%;
    margin: 0px auto ;
}

.div{
    background-color: white;
    width: 100%;  
}
.recept{
    width: 100%;
}

.suret{
    height: 170px;
}